* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f8fc;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(88, 60, 60, 0.1);
    position: fixed;
    width: 100%; 
}

.logo img {
    width: 110px;
    margin-right: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li a {
    margin-left: 20px;
    text-decoration: none;
    color: #256d85;
    font-size: 20px;
    font-weight: bold;
}

.nav-links li a:hover {
    color: #219bc4;
    text-decoration:underline;
}

/* About Section */

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 40px 40px;
    gap: 150px;
    box-shadow: 0px 4px 8px rgba(88, 60, 60, 0.1);
}

.about-text {
    max-width: 600px;
    padding: 20px;
}

.about-text h1 {
    font-size: 48px;
    color: #333;
    margin-bottom: 10px;
    margin-top: 60px;
}

.about-text h2 {
    font-size: 24px;
    color: #256d85;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 22px;
    line-height: 1.75;
    color: #666;
    margin-bottom: 20px;
}

.image-content img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}

.button {
    text-align: center;
    margin-top: 20px;
}

.button a {
    display: inline-block;
    margin-top: 5px;
    padding: 15px 25px;
    background-color: #256d85;
    color: #ffffff;
    text-decoration: none; 
    border-radius: 120px;
    font-weight: 600;
    cursor: pointer;
}

.button a:hover {
    background-color: #219bc4;
}

.experience{
    padding:5px 25px;
    background-color:#f7f8fc;
}
.experience h2{
    text-align:center;
    font-size:40px;
    color:#256d85;
    margin-bottom: 30px;
}
.job{
    background-color:#ffffff;
    padding:20px 30px;
    margin-bottom:20px;
    border-radius:8px;
    box-shadow: 0px 4px 8px rgba(88, 60, 60, 0.1);
}
.job h3{
    font-size:29px;
    color:#256d85;
    margin-bottom:10px;
}
.job p{
    font-size:16px;
    color:#666;
    margin:5px 0;
}
.responsibilities{
    padding-left:20px;
    color:#333;
    margin-top:15px;
}
.responsibilities li{
    font-size:16px;
    line-height:1.6;
    margin-bottom:8px;
}

 





